// Config
@import "./config/_variables";
@import "./config/reset";

// Components
@import "./components/header.scss";
@import "./components/menubar-left.scss";
@import "./components//videoplayer.scss";
@import "./components/video.scss";
// Screens
@import "./screens/watch.scss";
@import "./screens/home.scss";

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: $black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
}

.wrapper-inner {
  width: 100%;
  height: 100%;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-80px);
    opacity: 0;
  }
}

// forwards를 해줘야 애니메이션 마지막상태를 유지함
.message {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 20px;
  border-radius: 10000px;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 3s;
  &.error {
    background-color: tomato;
    color: white;
  }
}
