.menubar-left__wrapper {
  margin-right: 30px;
}

.menubar-left__icon {
  font-size: 2em;
}

.menubar-left__Btn {
  margin-right: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 8px;
  gap: 5px;
}

.icon__wide {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.1em;
  gap: 10px;
  margin-left: 23px;
  margin-bottom: 40px;
}

.menubar-left__wide {
  width: 200px;
}

.icon-shorts svg {
  width: 1.3em;

  pointer-events: none;
  display: block;
  color: white;
}

.nono {
  color: red;
}
